
body
{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
